body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  min-width: 100%;
}

#div {
  min-width: 400px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// New Job
#newJob {
  border: 1px solid blue;
  display: none;
}