body {
  max-width: 400px;
  min-width: 400px;
  overflow-x: hidden;
  margin-bottom:0px !important;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: gray;
}


li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// New Job

textarea{
  width: 100%;
  max-width: 100%;
  font-family: "Segoe UI";
}

ul {
  padding: 0;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
  -webkit-padding-start: 0px !important;
}

$button-fontsize: 25px;

$primary-text: white;
$primary-text-dark: #222;
$title-spacing: 0.7px;

$primary: #AA3F39;
$primary-light: #D4786A;
$primary-lightest: #FFB6AA;
$primary-dark: #802415;
$primary-darkest: #550C00;

$animation-duration: 0.35s;


body {
  font-family: "Lato", sans-serif;
  margin: 0; 
  font-size: 18px;
  span{
    font-size: 16px;
  }
}

.primary-button {
  color: $primary-text;
}
.primary-button:hover {
  color: $primary-light;
  cursor: pointer;
  transition: color $animation-duration;
}
.dark-button {
  color: $primary-dark;
}
.dark-button:hover {
  color: $primary-light;
  cursor: pointer;
  transition: color $animation-duration;
}
.grey-button {
  color: #797572;
}
.grey-button:hover {
  color: #999;
  cursor: pointer;
  transition: color $animation-duration;
}


/* Toolbar */
#toolbar {
  background-color: $primary;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 1px 5px 0px #ddd;
  display: flex;
  justify-content: space-between;

  #toolbar-left, #toolbar-right {
    display:inline-block;
  }

  i {
    padding: 12px;
    font-size: $button-fontsize;
  }
}

/* Action Bar */
.actionBar {
  text-align: right;
  i {
    border-radius: 100%;
    padding: 6px;
    margin: 4px 0px;
    font-size: $button-fontsize;
    font-weight: bold;
  };
}

/* Tab */
.tab {
  border-bottom: 1px solid $primary;
  //box-shadow: 0px 1px 5px 0px #aaa;
  box-shadow: 0px 1px 5px 0px  rgba(170,170,170,0.50);
  color: $primary-text-dark;
  display: none;
  padding: 0px 20px;

  p, label {
    color: $primary-text-dark;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: $title-spacing;
    margin: 0px;
    padding: 15px 7px 4px 7px;
  }
}

#listAdd {
  width: 100%;
  margin: 13px auto;
  text-align: center;
  display: inline-block;
}

/* New Job */
#newJob {
  #newJobDesLabel {padding-bottom: 10px;}

  input {
    border: none;
    border-bottom: 1px solid #ddd;
    color: $primary-text-dark;
    font-size: 16px;
    font-weight: light;
    padding: 5px 0px;
    width: 100%;
  }

  input:focus {
    outline: 0;
    border-bottom: 1px solid $primary-lightest;
    transition: $animation-duration;
  }

  textarea {
    border: 1px solid #ddd;
    color: $primary-text-dark;
    font-size: 16px;
    height: 96px;
    resize: vertical;
    padding: 5px 7px;
    max-width: 100%;
  }

  textarea:focus {
    outline: 0;
    border: 1px solid $primary-lightest;
    transition: $animation-duration;
  }

  select {
    font-size: 16px;
    margin-top: 5px;
    padding: 3px;
    border: none;
    border-radius: 10px;
    color: white;

    option {
      border: none;
    }

    option:not(:checked) { 
      background-color: #FFF; 
      color: $primary-text-dark
    }
  }

  select:focus {
    outline: 0;
  }
}

/* Drop down menu color */
.interested{background-color: #0F4DA8}
.inProgress{background-color: #FFA100 }
.completed{background-color: #009E00}

#settings {
  padding-bottom: 10px;

  label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
  }

  label {
    display: block;
  }
}

.collapsible {
  border: none;
  box-shadow: none;
  margin: 0.5rem 0 1rem 0;
}

.collapsible-header {
  display: block;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.header-compress {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  left: 8px;
  text-align: center;
  i {
    float: none !important;
    text-align: center;
    display: inline-block !important;
  }
}

.header-title {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
}

.header-status {
  display: inline-block;
  width: 30%;
  vertical-align:top;
  padding-left: 25px;
  line-height: 2.9rem;

  span {
    vertical-align: middle;
    font-size: 13px;
    color: white;
    padding: 3px 7px;
    margin-bottom: 5px;
    border-radius: 10px;
    line-height: 2.9rem;
  }
}



.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

.collapsible-body {
  h4 a {
    color: rgb(85, 26, 139)
  }
  display: none;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

.collapsible.popout {
  border: none;
  box-shadow: none;
}

.collapsible.popout > li {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 24px;
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > li.active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 16px 0;
}

