html
  head
    title Job App Tracker
    link(rel="stylesheet" type="text/css" href="css/main.min.css")
    script(type="text/javascript" src="js/popup.min.js")

  body
    div#newJob
      button#saveNewJob saveJob
      p company
      textarea#newJobCompany
      p title
      textarea#newJobTitle
      p URL
      textarea#newJobURL
      p description
      textarea#newJobDescription

    <div id="div">No content yet! Click the button to add the link of the current website!</div>
    <div><ul id="list"></ul></div>
    <br/>
    <button id="addJob">Add link!</button>