html
  head
    title Job App Tracker
    link(rel="stylesheet" type="text/css" href="css/main.min.css")
    script(type="text/javascript" src="js/popup.min.js")
    
      

    
  body
    div#newJob
      
      p Employer
      textarea#newJobCompany
      p Job Title
      textarea#newJobTitle
      p URL
      textarea#newJobURL
      p Description
      textarea#newJobDescription
      button#saveNewJob Save

    <div id="div">No content yet! Click the button to add the link of the current website!</div>
    <div><ul id="list"></ul></div>
    <br/>
    <button id="addJob">Save Job</button>